/*Nodevision/public/LayoutStyles.css
This stylesheet declares styles related to divider bars and panels*/
#root {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: 1fr 5px 1fr;
  height: 100vh;
  width: 100vw;
}

.pane {
  overflow: auto;
  background-color: #f0f0f0;
}

.divider[data-orientation="vertical"] {
  background-color: #333;
  cursor: ew-resize;
}

.divider[data-orientation="horizontal"] {
  background-color: #333;
  cursor: ns-resize;
}
