body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #ffffff;
}
#settings-section {
  width: 100%;
  margin-bottom: 20px;
}
#content {
  display: flex;
  width: 90%;
}
#cy {
  flex: 1;
  height: 600px;
  border: 1px solid #ccc;
  margin-right: 20px;
}
#info-panel {
  width: 300px;
}
#content-frame-container {
  resize: both;
  overflow: auto;
}