body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #ffffff;
}
#settings-section {
  width: 100%;
  margin-bottom: 20px;
}
#content {
  display: flex;
  width: 90%;
}
#cy {
  flex: 1;
  height: 600px;
  border: 1px solid #ccc;
  margin-right: 20px;
}
#info-panel {
  width: 100%;
  height: 100%;
}
#content-frame-container {
  overflow: auto;
  height: 100%;

}

/* style.css */

.directory-name {
  cursor: pointer;
  font-weight: bold;
}

.nested {
  padding-left: 15px;
}

.file a {
  text-decoration: none;
  color: #333;
}


/* style.css */

.directory-button, .file-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  width: 100%;
}

.directory-button:hover, .file-button:hover {
  text-decoration: underline;
}

.nested {
  padding-left: 15px;
  list-style-type: none;
}
