body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 253, 205);
}



#main-toolbar
{
    background-color: rgb(66, 32, 219);
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

}


#main-toolbar button, #main-toolbar select {
    margin-right: 10px;
}

/* Style for individual toolbar buttons */
.toolbar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80px;
    height: 80px;
}

/* Style for the button text */
.toolbar-button span {
    font-size: 12px;
    margin-bottom: 5px;
}

/* Style for the icon */
.toolbar-icon {
    width: 24px;
    height: 24px;
}

/* Hover effect for buttons */
.toolbar-button:hover {
    background-color: #ddd;
}





#sub-toolbar
{
    background-color: rgb(255, 153, 0);
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

#editor {
    width: 70%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px auto;
    background-color: white;
    min-height: 80%;
}

.editor-img {
    max-width: 100%;
    height: auto;
    /*display: block;*/
}

[contenteditable="true"] {
    outline: none;
}

.note {
    font-size: 24px;
    margin: 0 5px;
    color: #000;
}


#styleDropdown {
    margin-right: 10px;
}

#fileUpload {
    display: none;
}

/* Message display */
#message {
    color: green;
    margin: 10px auto;
    text-align: center;
}

#errorMessage {
    color: red;
    margin: 10px auto;
    text-align: center;
}